// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

// App
@import "images";

// Global
body {
  padding-top: 70px;
  font-family: "Balsamiq Sans", cursive;
}
* {
  font-family: "Balsamiq Sans", cursive;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
