<section class="admin-images-index">

  <header class="page-header">
      <h1>Admin &raquo; Image Repository</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Keywords</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <%= render @images %>
      </tbody>
    </table>

  </div>
</section>