<article class="image">
  <header>
    <h4 class="name">
      <%= image.name %>
    </h4>
  </header>

  <p class="description">
    <%= image.description %>
  </p>
  <p class="image">
    <%= image_tag image.img_url, alt: image.name %>
  </p>

</article>