<section class="images-index">

  <header class="page-header">
      <h1>Seach Results</h1>
  </header>
  

  <% @results.each do |result| %>  
        <%= result.name %><br>  
    <% end %>


</section>